

/*********** Media queries ***********/


/* Largeur minimale de 320px */
@media screen and (max-width: 320px) /* Tout ce qui est < à 320px */
{
    body
    {
        min-width: 320px; 
    }
}

/* Largeur maximale de 1440px */
@media screen and (min-width: 1441px) /* Tout ce qui est > à 1440px */
{
    body
    {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}



/*********** Medium devices (tablets, less/equal than 1024px) ***********/

@media (max-width: 1024px) 
{
    .hebergements-and-populaires 
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hebergements 
    {
        width: 100%;
    }

    .card-title
    {
        font-size: 14px;
    }

    #card-5
    {
        font-size: 12.75px;
    }

    .card-subtitle
    {
        font-size: 14px;
    }

    .card-hebergement
    {
        width: auto;
        height: auto;
    }

    .populaires 
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card
    {
        height: 77%; /* pour gérer img portrait/paysage */
        min-width: 0; /* retire la min-width deskop */
    }

    .populaires-cards img
    {
        height: 100%;
    }

    .populaires-cards a
    {
        width: 30%;
    }

    .filtres-recherche 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres-buttons
    {
        padding-top: 20px;
    }

    #filtres-buttons p
    {
        font-size: 16px;
    }

    #btn-economique
    {
        margin-left: 0;
    }

    .card-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-activites img
    {
        height: 200px;
    }

    .card-activites h3
    {
        padding: 0 20px;
    }
}



/*********** Small devices (phones, less than 768px) ***********/

@media (max-width: 767.98px) 
{
    /*********** Général ***********/
    .main-container
    {
        padding: 0;
    }

    .info-group
    {
        padding: 20px 20px 0 20px;
    }


    /*********** Header ***********/
    header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav-header
    {
        padding: 0;
        width: 100%;
        gap: 0;
    }

    .nav-header a /* bordure passe en dessous */
    {
        display: flex;
        justify-content: center;
        border-top: none;
        width: 100%;
        border-bottom: 3px solid white;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .nav-header a:hover, /* survol */
    .nav-header a:focus /* sélection */
    {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-top: none;
    }
    
    .logo-header
    {
        align-items: center;
    }


    /*********** Barre de recherche ***********/
    .fa-magnifying-glass, #border-barre i 
    {
        display: block; /* pour que la loupe apparaisse */
    }

    #btn-rechercher
    {
        display: none; /* pour que le bouton "Rechercher" disparaisse */
    }

    .formulaire-recherche
    {
        width: 100%;
    }

    .formulaire-recherche img /* icone localisation */
    {
        width: 50px;
        height: 49px;
    }

    #saisie-ville /* champs de saisie */
    {
        width: 70%;
    }



    /*********** Filtre de recherche ***********/
    #filtres-buttons
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    #filtres-buttons div
    {
        height: 50px;
        margin: 0;
        width: calc(50% - 10px); /* égalise la taille des boutons */
        box-sizing: border-box; /* simplifie l'alignement en 2 colonnes */
    }

    #filtres-buttons p
    {
        font-size: 14px;
    }

    .section-info i
    {
        height: auto;
        width: 27px;
        font-size: 11.5px;
        line-height: 22px;
    }


    /*********** Hébergements + populaires ***********/
    .hebergements-and-populaires
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires > .populaires
    {
        background-color: #F2F2F2;
        border-radius: 0;
        padding: 30px 20px;
        margin: 0;
        margin-bottom: 15px;
    }

    .hebergements-and-populaires > .hebergements
    {
        background-color: white;
        padding: 20px;
        margin: 0;
    }
    
    .populaires-cards
    {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a
    {
        width: 100%;
    }

    .populaires-cards img
    {
        height: 146px;
    }

    .populaires-cards .card
    {
        margin-top: 15px;
    }

    .fa-chart-line /* Icône section "Les plus populaires" */
    {
        font-size: 18px;
    }

    #card-5
    {
        font-size: 14px;
    }

    .hebergements-cards
    {
        margin-top: 15px;
    }

    .card-hebergement img
    {
        height: 124px;
    }

    .card-group1, .card-group2
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card-group1 a, .card-group2 a
    {
        width: 100%;
    }

    .card-group1
    {
        padding: 0;
        margin-bottom: 15px;
    }

    .card-group2
    {
        padding-bottom: 15px;
    }


    /*********** Activités ***********/
    .section-cards
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    /*********** Footer ***********/
    footer
    {
        display: block;
        padding: 30px;
    }

    .sections-footer
    {
        padding: 0;
    }

    .footer-responsive
    {
        margin-bottom: 0;
        margin-bottom: 50px;
    }
}