/*********** Général ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}





/*********** Header ***********/

header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-header
{
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 50px;
}

.nav-header
{
    display: flex;
    padding: 0px 50px 0px 50px;
    gap:30px;
}

.nav-header a
{
    border-top: 3px solid white;
    padding-top: 10px;
}

.nav-header a:hover, 
.nav-header a:focus /* sélection */
{
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}





/*********** Info group ***********/

.info-group
{
    margin-bottom: 35px;
}

.info-group p
{
    margin-top: 8px;
}

.section-info-group
{
    margin-bottom: 35px;
}





/*********** Barre de recherche ***********/

.fa-magnifying-glass, #border-barre i
{
    display: none;
    color: white;
    background-color:#0065FC;
    border-radius: 15px;
    padding: 15px 16px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#border-barre /* input text + input submit */
{
    border-left: 1.5px solid #F2F2F2;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-bottom-right-radius: 15px;
    border-top-right-radius:15px;
    display: flex;
}

.formulaire-recherche
{
    width: 377px;
    height: 49px;
    display: flex;
}

#saisie-ville
{
    padding: 0 24px 0 24px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    width: 147px;
    text-align: center;
    border: none;
}

#saisie-ville::placeholder
{
    font-size: 13px;
    font-weight: normal;
}

#btn-rechercher
{
    background-color: var(--main-color);
    color: white;
    padding: 14px 15px 18px 15px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
    align-self: center;
    height: 47px;
}

#btn-rechercher:hover
{
    background-color:rgba(0, 101, 252, 0.75) ;
}




/*********** Filtres de recherche ***********/

.filtres-recherche
{
    display: flex;
    align-items: center;
}

#filtres-buttons article /* boutons */
{
    display: flex;
    align-items: center;
    border: 2.5px solid #d9d9d9;
    border-radius: 50px;
    padding: 4px 19px;
    background-color: white;
    width: auto;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

#filtres-buttons
{
    display: flex;
}

#filtres-buttons article:hover /* survol */
{
    background-color: #DEEBFF;
}

#filtres-buttons p
{
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}

.filtres-recherche p
{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

#btn-economique
{
    width: 167px;
    margin-left: 15px;
}

#btn-familial
{
    width: 131px;
    margin-left: 15px;
}

#btn-romantique
{
    width: 164px;
    margin-left: 15px;
}

#btn-pepites
{
    width: 161px;
    margin-left: 15px;
}

#pepites-nowrap /* texte "Nos pépites" */
{
    white-space: nowrap;
}





/*********** Point d'information (Info-group) ***********/

.section-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-info i
{
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    align-items: center;
    line-height: 23px;
    font-size: 12.5px;
}

.section-info p
{
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
}





/*********** Hébergements et Populaires ***********/

.hebergements-and-populaires {
    display: flex;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; /* facilite l'alignement des cards */
}





/*********** Hébergements ***********/

.hebergements {
    margin-right: 40px;
}

.hebergements-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards /* conteneur des cards / hors titre */
{
    margin-top: 30px;
    width: 100%;
}

/* permet aux cards de s'adapter à la taille du conteneur */
.hebergements-cards a 
{
    width: 33%;
}

.card-group1, .card-group2
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.card-hebergement /* pour chaque card */
{
    width: 250.33px;
    height: 207.25px;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
    padding-bottom: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergement img 
{
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0 0;
    object-fit: cover; /* réduis l'img pour + de qualité */
}

.card-content-hebergement
{
    padding: 4px 15px 0 15px
}

.card-rating-hebergement, .card-title, .card-subtitle
{
    padding-top: 4px;
}

/* "Afficher plus" sous les cards */
.subtitle-h3 
{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}





/*********** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    min-width: 240px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





/*********** Activités ***********/

.activites
{
    margin-top: 35px;
    padding: 30px;
}

.activites h2
{
    padding-bottom: 30px;
}

.section-cards
{
    display: flex;
    gap: 30px;
}

.card-activites /* chaque card */
{
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 298px;
}

.card-activites img
{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 380px;
}

.card-activites h3 /* titre des cards */
{
    padding: 0 20px 8px;
    height: 65px;
    display: flex;
    align-items: center;
}





/*********** Footer ***********/

footer
{
    background-color: var(--main-bg-color);
    margin-top: 35px;
    display: flex;
}

.sections-footer
{
    padding: 20px;
    width: 100%;
}

.sections-footer ul
{
    list-style: none; /* enlève liste à puce */
    padding: 0;
}

.sections-footer li
{
    padding-top: 15px;
}





/*********** Media queries ***********/

/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) 
{
    .hebergements-and-populaires 
    {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .hebergements 
    {
        width: 100%;
    }

    .card-title
    {
        font-size: 14px;
    }

    #card-5
    {
        font-size: 13.5px;
    }

    .card-subtitle
    {
        font-size: 14px;
    }

    .card-hebergement
    {
        width: auto;
        height: auto;
    }

    .populaires 
    {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card
    {
        height: 77%; /* pour gérer img portrait/paysage */
        min-width: 0; /* retire la min-width deskop */
    }

    .populaires-cards img
    {
        height: 100%;
    }

    .populaires-cards a
    {
        width: 30%;
    }

    .filtres-recherche 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #filtres-buttons
    {
        padding-top: 20px;
    }

    #filtres-buttons p
    {
        font-size: 16px;
    }

    #btn-economique
    {
        margin-left: 0;
    }

    .card-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-activites img
    {
        height: 200px;
    }

    .card-activites h3
    {
        padding: 0 20px;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) 
{
    /*********** Général ***********/
    .main-container
    {
        padding: 0;
    }

    .info-group
    {
        padding: 20px 20px 0 20px;
    }


    /*********** Header ***********/
    header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav-header
    {
        padding: 0;
        width: 100%;
        gap: 0;
    }

    .nav-header a /* bordure passe en dessous */
    {
        display: flex;
        justify-content: center;
        border-top: none;
        width: 100%;
        border-bottom: 3px solid white;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .nav-header a:hover, /* survol */
    .nav-header a:focus /* sélection */
    {
        color: var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-top: none;
    }
    
    .logo-header
    {
        align-items: center;
    }


    /*********** Barre de recherche ***********/
    .fa-magnifying-glass, #border-barre i 
    {
        display: block; /* pour que la loupe apparaisse */
    }

    #btn-rechercher
    {
        display: none; /* pour que le bouton "Rechercher" disparaisse */
    }

    .formulaire-recherche
    {
        width: 100%;
    }

    .formulaire-recherche img /* icone localisation */
    {
        width: 50px;
        height: 49px;
    }

    #saisie-ville /* champs de saisie */
    {
        width: 70%;
    }



    /*********** Filtre de recherche ***********/
    #filtres-buttons
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }

    #filtres-buttons article
    {
        height: 50px;
        margin: 0;
        width: calc(50% - 10px); /* permet d'avoir 2 rangées de 2 boutons */
        box-sizing: border-box;
    }

    #filtres-buttons p
    {
        font-size: 14px;
    }

    .section-info i
    {
        height: auto;
        width: 27px;
        font-size: 11.5px;
        line-height: 22px;
    }


    /*********** Hébergements + populaires ***********/
    .hebergements-and-populaires
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires > .populaires
    {
        background-color: #F2F2F2;
        border-radius: 0;
        padding: 30px 20px;
        margin: 0;
        margin-bottom: 15px;
    }

    .hebergements-and-populaires > .hebergements
    {
        background-color: white;
        padding: 20px;
        margin: 0;
    }
    
    .populaires-cards
    {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a
    {
        width: 100%;
    }

    .populaires-cards img
    {
        height: 146px;
    }

    .populaires-cards .card
    {
        margin-top: 15px;
    }

    .fa-chart-line /* Icône section "Les plus populaires" */
    {
        font-size: 18px;
    }

    #card-5
    {
        font-size: 14px;
    }

    .hebergements-cards
    {
        margin-top: 15px;
    }

    .card-hebergement img
    {
        height: 124px;
    }

    .card-group1, .card-group2
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .card-group1 a, .card-group2 a
    {
        width: 100%;
    }

    .card-group1
    {
        padding: 0;
        margin-bottom: 15px;
    }

    .card-group2
    {
        padding-bottom: 15px;
    }


    /*********** Activités ***********/
    .section-cards
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    /*********** Footer ***********/
    footer
    {
        display: block;
        padding: 30px;
    }

    .sections-footer
    {
        padding: 0;
    }

    .footer-responsive
    {
        margin-bottom: 0;
        margin-bottom: 50px;
    }
}



/* Largeur minimale de 320px */
@media screen and (max-width: 320px) /* Tout ce qui est < à 320px */
{
    body
    {
        min-width: 320px; 
    }
}

/* Largeur maximale de 1440px */
@media screen and (min-width: 1441px) /* Tout ce qui est > à 1440px */
{
    body
    {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}