/*********** Général ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}





/*********** Header ***********/

.logo-header
{
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 50px;
}

.nav-header
{
    display: flex;
    padding: 0px 50px 0px 50px;
    gap:30px;
}

.nav-header a
{
    border-top: 3px solid white;
    padding-top: 10px;
}

header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.nav-header a:hover, .nav-header a:focus
{
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}





/*********** Info group ***********/

.info-group
{
    margin-bottom: 35px;
}

.info-group p
{
    margin-top: 8px;
}

.section-info-group
{
    margin-bottom: 35px;
}





/*********** Barre de recherche ***********/

.formulaire-recherche
{
    width: 377px;
    height: 49px;
    display: flex;
}

#saisie-ville
{
    border: 1px solid #F2F2F2;
    padding: 0 24px 0 24px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    width: 147px;
    text-align: center;
}

#saisie-ville::placeholder
{
    font-size: 13px;
    font-weight: normal;
}

#btn-rechercher
{
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
}

#btn-rechercher:hover
{
    background-color:rgba(0, 101, 252, 0.75) ;
}





/*********** Filtres de recherche ***********/

.filtres-recherche
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtres-recherche button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    gap: 10px;
    margin-left: 15px;
    background-color: white;
}

.filtres-recherche button:hover
{
    background-color: #DEEBFF;
}

.filtres-recherche > button > p
{
    font-size: 17px;
    font-weight: 700;
    padding-right: 10px;
}

.filtres-recherche p
{
    font-size: 17px;
    font-weight: 700;
    margin: 0;
}

#btn-economique
{
    width: 173px;
    height: 50px;
}

#btn-familial
{
    width: 134px;
    height: 50px;
}

#btn-romantique
{
    width: 170px;
    height: 50px;
}

#btn-pepites
{
    width: 167px;
    height: 50px;
}

#p-pepites
{
    white-space: nowrap;
}





/*********** Point d'information (Info-group) ***********/

.section-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-info i
{
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    align-items: center;
    line-height: 22px;
    font-size: 12.5px;
}

.section-info p
{
    font-size: 16px;
    padding-left: 10px;
    margin: 0;
}





/*********** Hébergements et Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires h2
{
    padding-bottom: 30px;
}





/*********** Hébergements ***********/

.hebergements-cards 
{
    display: flex;
    width: 250.33px;
    height: 207.25px;
}

.hebergements {
    width: 65%;
}

.hebergements-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-hebergement
{
    width: 250.33px;
    height: 207.25px;
    background-color: white;
    border-radius: 20px;
    padding:4px;
    padding-bottom: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergement img 
{
    width: 100%;
    height: 136px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card-content-hebergement
{
    padding: 4px 15px 0 15px
}

.card-rating-hebergement, .card-title, .card-subtitle
{
    padding-top: 4px;
}






/*********** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}





/*********** Media queries ***********/

/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}